@model FixReportSystem.Models.Report

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h1 class="text-danger">Estas seguro de eliminar este elemento?</h1>
    <div>
        <h4>Report De  @Html.DisplayFor(model => model.Furniture)</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                <h5><i>Encargado</i></h5>
            </dt>
            <dd class = "col-sm-10">
                ----------
            </dd>

            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Apellido
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                Correo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-2">
                <h5><i>Mobiliario</i></h5>
            </dt>
            <dd class = "col-sm-10">
                ----------
            </dd>

            <dt class="col-sm-2">
                Edificio
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Building)
            </dd>
            <dt class="col-sm-2">
                Aula
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Classroom)
            </dd>
            <dt class="col-sm-2">
                Mobiliario
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Furniture)
            </dd>
            <dt class="col-sm-2">
                Jefe De Carrera
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeadCngineeringCourse)
            </dd>
            <dt class="col-sm-2">
                Reclamacion
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FurnitureOrClaim)
            </dd>
            <dt class="col-sm-2">
                Descripcion de reporte
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReportDescription)
            </dd>

        </dl>
    
        <form method="post" asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReportId" />
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            <a asp-action="Index">Regresar</a>
        </form>
    </div>
</div>