@model IEnumerable<FixReportSystem.Models.Report>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furniture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadCngineeringCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FurnitureOrClaim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furniture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadCngineeringCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FurnitureOrClaim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ReportId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
